<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.innv.rmsgateway"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/rms_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rms_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActivityDashboard"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AssetManagementActivity"
            android:label="@string/rms_node_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ScanActivity"
            android:label="@string/rms_node_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FullscreenActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.QrCodeScanner"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AssetsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GraphViewActivity"
            android:label="@string/rms_node_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TypeProfileActivity"
            android:label="@string/rms_node_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DefrostProfileActivity"
            android:label="@string/rms_node_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DataGridViewActivity"
            android:label="@string/rms_node_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.BLEBackgroundService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>